Checks:
  -*,
  modernize-*,
  readability-*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,

WarningsAsErrors: >
  -*,
  modernize-*,
  -cppcoreguidelines-*,
