Checks:
    -*,
    modernize-*,
    readability-*,
    clang-analyzer-*,
    bugprone-*,
    cppcoreguidelines-*,
    readability-identifier-naming,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -misc-const-correctness,
    -misc-include-cleaner,
    -llvm-header-guard,
    -modernize-macro-to-enum,
    -bugprone-use-after-move,
    -hicpp-invalid-access-moved,
    -readability-convert-member-functions-to-static,
    -cppcoreguidelines-pro-type-union-access,
    -misc-confusable-identifiers,
    -modernize-type-traits,
    -bugprone-stringview-nullptr
    -readability-static-accessed-through-instance
    -cppcoreguidelines-avoid-c-arrays
    -modernize-avoid-c-arrays
    -readability-uppercase-literal-suffix
    -readability-identifier-length
    -readability-magic-numbers
    -cppcoreguidelines-avoid-magic-numbers
    -clang-analyzer-core.CallAndMessage


CheckOptions:
    readability-identifier-naming.NamespaceCase: lower_case
    readability-identifier-naming.ClassCase: CamelCase
    readability-identifier-naming.StructCase: CamelCase
    readability-identifier-naming.FunctionCase: lower_case
    readability-identifier-naming.VariableCase: lower_case
    readability-identifier-naming.MemberCase: lower_case
    readability-identifier-naming.ParameterCase: lower_case
    readability-identifier-naming.GlobalConstantCase: UPPER_CASE
    readability-identifier-naming.GlobalVariableCase: UPPER_CASE
    readability-identifier-naming.ConstantCase: lower_case
    readability-identifier-naming.EnumCase: CamelCase
    readability-identifier-naming.EnumConstantCase: UPPER_CASE
    readability-identifier-naming.LocalConstantCase: lower_case
    readability-identifier-naming.LocalVariableCase: lower_case
    readability-identifier-naming.PrivateMemberCase: lower_case
    readability-identifier-naming.ProtectedMemberCase: lower_case
    readability-identifier-naming.PublicMemberCase: lower_case
    readability-identifier-naming.PrivateMethodCase: lower_case
    readability-identifier-naming.ProtectedMethodCase: lower_case
    readability-identifier-naming.PublicMethodCase: lower_case
    readability-identifier-naming.PrivateStaticMemberCase: lower_case
    readability-identifier-naming.ProtectedStaticMemberCase: lower_case
    readability-identifier-naming.PublicStaticMemberCase: lower_case
    readability-identifier-naming.PrivateStaticMethodCase: lower_case
    readability-identifier-naming.ProtectedStaticMethodCase: lower_case
    readability-identifier-naming.PublicStaticMethodCase: lower_case
    readability-identifier-naming.PrivateFunctionCase: lower_case
    readability-identifier-naming.ProtectedFunctionCase: lower_case
    readability-identifier-naming.PublicFunctionCase: lower_case
    readability-identifier-naming.PrivateStaticFunctionCase: lower_case
    readability-identifier-naming.ProtectedStaticFunctionCase: lower_case
    readability-identifier-naming.PublicStaticFunctionCase: lower_case
    readability-identifier-naming.PrivateTemplateParameterCase: lower_case
    readability-identifier-naming.ProtectedTemplateParameterCase: lower_case
    readability-identifier-naming.PublicTemplateParameterCase: lower_case
    readability-identifier-naming.PrivateTypeCase: CamelCase
    readability-identifier-naming.ProtectedTypeCase: CamelCase
    readability-identifier-naming.PublicTypeCase: CamelCase
    readability-identifier-naming.PrivateMacroCase: UPPER_CASE
    readability-identifier-naming.ProtectedMacroCase: UPPER_CASE
    readability-identifier-naming.PublicMacroCase: UPPER_CASE
    readability-identifier-naming.PrivateEnumCase: UPPER_CASE
    readability-identifier-naming.ProtectedEnumCase: UPPER_CASE
    readability-identifier-naming.PublicEnumCase: UPPER_CASE
    readability-identifier-naming.PrivateEnumConstantCase: UPPER_CASE
    readability-identifier-naming.ProtectedEnumConstantCase: UPPER_CASE
    readability-identifier-naming.PublicEnumConstantCase: UPPER_CASE
    readability-identifier-naming.PrivateConstantCase: UPPER_CASE
    readability-identifier-naming.ProtectedConstantCase: UPPER_CASE
    readability-identifier-naming.PublicConstantCase: UPPER_CASE
    readability-identifier-naming.PrivateVariableCase: lower_case
    readability-identifier-naming.ProtectedVariableCase: lower_case
    readability-identifier-naming.PublicVariableCase: lower_case
    readability-identifier-naming.PrivateMemberSuffix: _
    readability-identifier-naming.EnumPrefix: E


WarningsAsErrors: >
    -*,
    modernize-*,
    cppcoreguidelines-*,
    readability-*,

    readability-identifier-naming
